body {
    background-color: #e9ad8a;

    color: aliceblue;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
}

h1.title {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    box-sizing: border-box;
}

h2.title {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    margin-top: -20px;
    letter-spacing: 3px;
    box-sizing: border-box;
}

h3 {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    box-sizing: border-box;
}

h4.item-count {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    box-sizing: border-box;
    margin-top: -13px;
}

.project-title {
    font-style: oblique;
    margin-bottom: 5px;
    margin-top: 45px;
}

hr {
    border-top: 2px solid black;
    border-radius: 3px
}

input[type='checkbox'] {
    zoom: 1.5;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.center {
    margin: 0 auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


th.export, tr.export, td.export {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    vertical-align: middle;
}
button {
    margin-top: 30px;
}

label {
    font-size: larger;
}

.auto-overflow-x {
    overflow-x: auto;
}

.item-amount {
    /* POSITIONING */
    margin-top: -48%;
    margin-right: 8%;
}