div.item-table-top-spacing {
    margin-top: 50px;
}

img.item-image {
    width: auto;
    height: 50%;
    max-width: 48px;
    max-height: 48px;
    min-width: 16px;
    min-height: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;

    position: relative;
    right: 8px;
    bottom: 3px;
}

img.focused-item {
    box-shadow: 0 0 2px 2px rgba(255, 0, 0, 1.0);
}

th.item-image {
    text-align: center;
    width: auto;
    height: auto;
    min-width: 90px;
}

th.item-amt {
    text-align: center;
    height: 10px;
}

tr.spacing {
    height: 15px;
}

input[type=number].item-input {
    padding: 1px 5px
}

.centerTable {
    margin: 0 auto;
}

.transition {
    transition: all 0.4s ease-in-out;
}

.fixed {
    position: fixed;
    text-align: center;
}

.collapsible:hover {
    background-color: white;
    cursor: pointer;
}

.pointer-cursor:hover {
    cursor: pointer;
}

.collapsible-content {
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.collapsible:after {
    content: ' \25BC';
    color: black;
    text-shadow: 0 0 8px #666666;
}

.active:after {
    content: ' \25B2';
    color: black;
    text-shadow: 0 0 8px #666666;
}

.requested-item-image {
    max-width: 48px;
    max-height: 48px;
    min-width: 16px;
    min-height: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

th.requested-item-image {
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0; !important;
}

.requested-item-text {
    text-shadow: 1px 1px 4px #000000,
                    1px 1px 4px #000000,
                    1px 1px 4px #000000,
                    1px 1px 4px #000000;
    margin-top: -48%;
    margin-right: 8%;
    color: white;
    font-family: "Calibri", Arial, serif;
    text-align: right;

    border-radius: 5px;
}

.ingredient-button {
    max-width: 48px;
    max-height: 48px;
    min-width: 16px;
    min-height: 16px;

    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s ease-out;

    border-radius: 4px;
    outline: none;
}

.ingredient-button-image {
    position: relative;
    right: 8px;
    bottom: 3px;

    max-width: 48px;
    max-height: 48px;
    border-radius: 4px;
}

.ingredient-button-text {
    font-weight: bold;
    position: absolute;
    bottom: -1px;
    text-overflow: ellipsis;
    right: 2px;


    text-shadow: 1px 1px 4px #000000,
                    1px 1px 4px #000000,
                    1px 1px 4px #000000,
                    1px 1px 4px #000000;
    color: white;

    font-size: 16px;
    font-family: "Calibri", Arial, serif;
}

.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.low-opacity {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.tip {
    font-family: "Trebuchet MS", Arial, serif;
    color: white;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px #000000, -1px 1px 5px #000000, -1px -1px 5px #000000, 1px -1px 5px #000000, 0 0 5px #000000;
    letter-spacing: 2px;
    line-height: 21px;
    text-align: center;
    max-width: 500px;

    overflow: auto;

    background-color: rgba(50, 50, 50, 0.5);
    padding: 3px 15px;

    border-radius: 5px;
}

img.quest-item-image {
    max-width: 48px;
    max-height: 48px;
    min-width: 16px;
    min-height: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

img.priority-quest-item {
    animation: glow 3000ms infinite;
}

@keyframes glow
{
    0% { box-shadow: 0 0 4px #c4a300; }
    40% { box-shadow: 0 0 13px #c4a300; }
    60% { box-shadow: 0 0 13px #B4000F; }
    100% { box-shadow: 0 0 4px #c4a300; }
}

.quest-percent-text {
    text-shadow: 1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000;
    margin-top: -48%;
    margin-right: 8%;
    margin-bottom: -10%;
    color: lightsalmon;
    font-family: "Calibri", Arial, serif;
    text-align: right;

    border-radius: 5px;
}

.quest-percent-text-top {
    text-shadow: 1px 1px 4px #000000,
                    1px 1px 4px #000000,
                    1px 1px 4px #000000,
                    1px 1px 4px #000000;
    margin-top: -102%;
    margin-bottom: 60%;
    margin-right: 8%;
    color: violet;
    font-family: "Calibri", Arial, serif;
    vertical-align: text-top;
    text-align: right;

    border-radius: 5px;
}

.quest-title {
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 1px 1px 4px #000000,
                    1px 1px 4px #000000,
                    1px 1px 4px #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

    background-color: rgba(255, 255, 255, 0.5);

    position: relative;
    bottom: 6px;

    margin-bottom: 5%;

    padding: 10px 30px;

    letter-spacing: 1px;

    color: white;

    border-radius: 5px;

    white-space: nowrap;
}

.quest-title-hard {
    padding-left: 20px;
    padding-right: 65px;
}

.quest-character-shard-drop-rate {
    position: relative;
    font-size: 14px;
    right: 55px;
    bottom: 5px;

    text-shadow: 1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000;
    color: lightsalmon;
    font-family: "Calibri", Arial, serif;
    text-align: right;

    margin-right: -32px;
}

img.quest-character-shard {
    max-height: 32px;
    max-width: 32px;

    position: relative;
    right: 60px;
    top: 10px;

    margin-right: -32px;
}

img.quest-character-shard-grayscale {
    max-height: 32px;
    max-width: 32px;

    position: relative;
    right: 60px;
    top: 2px;

    margin-right: -32px;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.quest-title-bg-green {
    background-color: rgba(153, 255, 132, 0.5) !important;
}

.quest-title-bg-yellow {
    background-color: rgba(251, 255, 28, 0.5) !important;
}

.quest-title-bg-red {
    background-color: rgba(239, 14, 14, 0.5) !important;
}

.quest-item-divider {
    opacity: 0 !important;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 !important;
    text-shadow: 0 0 0 !important;
    width: 10px !important;
}

.quest-hover {
    padding-bottom: 0;
}

.quest-req-amount-text {
     text-shadow: 1px 1px 4px #000000,
     1px 1px 4px #000000,
     1px 1px 4px #000000,
     1px 1px 4px #000000;


     position: relative;
     bottom: 4px;
     right: 4px;

     padding-bottom: 5px;

     line-height: 0;


     color: white;
     font-family: "Calibri", Arial, serif;
     text-align: right;

     border-radius: 5px;
 }

.quest-display-top {
    opacity: 1;
}

.quest-display-bottom {
    opacity: 0;
}

.quest-hover:hover {
    padding-bottom: 0;
}


.quest-hover:hover .quest-display-top {
    opacity: 0;
}

.quest-hover:hover .quest-display-bottom {
    opacity: 1;
}

.quest-is-empty-text {
    position: relative;
    bottom: -2px;
}