div.common-items {
    margin-top: 50px;
}

img.item-image {
    width: auto;
    height: 50%;
    max-width: 48px;
    max-height: 48px;
    min-width: 16px;
    min-height: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

th.item-image {
    text-align: center;
    width: auto;
    height: auto;
    min-width: 90px;
}

th.item-amt {
    text-align: center;
    height: 10px;
}

tr.spacing {
    height: 15px;
}

input[type=number].item-input {
    padding: 1px 5px
}

.centerTable {
    margin: 0 auto;
}

.fixed {
    position: fixed;
    text-align: center;
}