.webpage {
    background-repeat: no-repeat;
    display: inline-block;
}

.no-webp .webpage {background-image: url('../images/webpage/spritesheets/spritesheet.png');}
.webp .webpage {background-image: url('../images/webpage_webp/spritesheets/spritesheet.webp');}

.webpage-GitHub-Mark {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.webpage-HAhaa {
    width: 24px;
    height: 24px;
    background-position: -47px -5px;
}

.webpage-Placeholder_Common {
    width: 48px;
    height: 48px;
    background-position: -81px -5px;
}

.webpage-Placeholder_Copper {
    width: 48px;
    height: 48px;
    background-position: -139px -5px;
}

.webpage-Placeholder_Gold {
    width: 48px;
    height: 48px;
    background-position: -197px -5px;
}

.webpage-Placeholder_Purple {
    width: 48px;
    height: 48px;
    background-position: -255px -5px;
}

.webpage-Placeholder_Silver {
    width: 48px;
    height: 48px;
    background-position: -313px -5px;
}

.webpage-changelog {
    width: 204px;
    height: 54px;
    background-position: -5px -63px;
}

.webpage-character_data {
    width: 204px;
    height: 54px;
    background-position: -219px -63px;
}

.webpage-fancy_mode {
    width: 204px;
    height: 54px;
    background-position: -5px -127px;
}

.webpage-items {
    width: 150px;
    height: 50px;
    background-position: -219px -128px;
}

.webpage-kofi {
    width: 204px;
    height: 54px;
    background-position: -219px -187px;
}

.webpage-other {
    width: 150px;
    height: 50px;
    background-position: -5px -252px;
}

.webpage-presets {
    width: 150px;
    height: 50px;
    background-position: -165px -252px;
}

.webpage-priconne-shiritori_icon {
    width: 64px;
    height: 64px;
    background-position: -325px -251px;
}

.webpage-projects {
    width: 150px;
    height: 50px;
    background-position: -5px -312px;
}

.webpage-quest_data {
    width: 204px;
    height: 54px;
    background-position: -165px -325px;
}

.webpage-recipe_data {
    width: 204px;
    height: 54px;
    background-position: -433px -5px;
}

.webpage-settings {
    width: 150px;
    height: 50px;
    background-position: -433px -70px;
}

.webpage-simple_mode {
    width: 204px;
    height: 54px;
    background-position: -433px -129px;
}

.webpage-statistics {
    width: 204px;
    height: 54px;
    background-position: -433px -193px;
}

.webpage-wiki {
    width: 204px;
    height: 54px;
    background-position: -399px -257px;
}