/* GENERAL ========================================================================================================== */
.main_title {
    font-size: 4.75vw;
}

.main_title:lang(ko) {
    font-size: 5.5vw;
}

.sub_title {
    font-size: 5vw;
    letter-spacing: 1px;
    margin-top: -5vw !important;
}

.sub_title:lang(ko) {
    margin-top: -2vw !important;
    font-size: 4.5vw;
}

.tip {
    font-size: 3vw;
}

p.footer {
    font-size: 3vw;
}

img.footer {
    height: 5vw;
    width: 5vw;
    position: relative;
    top: 1.5vw;
}

.category-title {
    font-size: 5vw;
}

img.item {
    /* IMAGE SIZE */
    max-width: 12vw;
    max-height: 12vw;
}

img.memory-piece {
    max-height: 8vw;
    max-width: 8vw;
    right: 14.5vw !important;
}

.memory-piece_drop-rate {
    font-size: 4vw !important;
    margin-left: -10px;
    left: -25px;
}

img.item-button-image {
    max-width: 12vw;
    max-height: 12vw;
}

button.item-button {
    /* DESIGN */
    max-width: 12vw;
    max-height: 12vw;
}


/* ITEMS TAB ======================================================================================================== */
.item-table_div {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.rarity-button {
    font-size: 5vw !important;
}

.item-table_category-title {
    font-size: 5vw !important;
}

/* PRESETS TAB ====================================================================================================== */
#character-preset-list-select {
    width: 58vw;
}

.presets_unit-icon {
    height: 24vw !important;
    width: 24vw;
}

.presets_unit-info {
    font-size: 4vw;
}

.preset-item-button-padding {
    margin-left: 24% !important;
}

#preset-items-div {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -80px !important;
}

#preset-items-rank-select {
    height: 30px;
}

.preset-item-rank-button-text {
    font-size: 10px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

#preset-item-settings {
    margin-top: -35px !important;
}

/* REQUIRED / REQUESTED ITEMS ======================================================================================= */
#requested-item-table {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

#required-ingredient-table {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.required-ingredients_item-img {
    width: 44px !important;
    height: 44px !important;
}

.required-ingredients_button_item-amount {
    font-size: 14px !important;

    margin-right: -13px !important;
    margin-left: -1px !important;
    margin-top: -20px !important;

    position: relative;
    top: 6px !important;
    right: 8px !important;
}


.required-ingredients_button_inventory-crate {
    margin-top: -13px !important;
    bottom: 22px !important;
}

/* RECOMMENDED QUESTS =============================================================================================== */
#recommended-quest-table {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.quest_title {
    font-size: 10px !important;
    padding: 5px 10px !important;
}

.quest_score {
    font-size: 12px !important;
    width: 60px !important;
}

.quest_memory-piece {
    top: 14px !important;
}

.quest_item-img {
    width: 40px !important;
    height: 40px !important;
}

.quest_drop-percent {
    font-size: 14px !important;
    margin-top: -21px !important;
    margin-right: 3px !important;
}

.quest_required-amount {
    font-size: 14px !important;
    margin-top: -17px !important;
    margin-right: 4px !important;
}

/* INVENTORY ======================================================================================================== */
#inventory_modal-dialog {
    width: 85% !important;
    padding: 0 15px 30px !important;
}

#inventory_modal_close-button {
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.inventory_item-img {
    width: 40px !important;
}
.inventory_item-img.grow {
    width: 48px !important;
}
.inventory_item-text {
    margin-right: 3px !important;
    font-size: 14px !important;
    position: relative;
    top: 2px;
}
.inventory_item-delete-img {
    width: 14px !important;
    height: 14px !important;
    margin-left: -14px !important;
    top: -2px !important;
}
.inventory_item-input {
    width: 34px !important;
}