/* BACKGROUND COLOR */
body {
    background-color: #e3cfcb;
}

div.div-background-title {
    background-image: url("./../images/webpage/still_108200401_blur_2.png");

    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;

    transition: all 0.4s ease-out;
    overflow: hidden;

    position: relative;
}

div.div-background-title:hover, div.div-background-title:active {
    height: 130%;
    padding-top: 100px;
    background-position: center;
    background-position-y: 0;
}

div.div-background {
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
}

div.div-background-common {
    background-image: url("./../images/webpage/bg_500170_blur.png");
}

div.div-background-copper {
    background-image: url("./../images/webpage/bg_500200_blur.png");
}

div.div-background-silver {
    background-image: url("./../images/webpage/bg_500210_blur.png");
}

div.div-background-gold {
    background-image: url("./../images/webpage/bg_500220_blur.png");
}

div.div-background-purple {
    background-image: url("./../images/webpage/bg_500240_blur.png");
}

div.div-background-requested {
    background-image: url("./../images/webpage/bg_500012_blur.png");
}

div.div-background-required {
    background-image: url("./../images/webpage/bg_500032_blur.png");
}

div.div-background-owned {
    background-image: url("./../images/webpage/bg_500032_blur.png");
}

div.div-background-recommended {
    background-image: url("./../images/webpage/bg_500270_blur.png");
}

/* WEB PAGE TITLE */
h1.title {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;

    box-sizing: border-box;
}

h2.title {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    margin-top: -25px;
    letter-spacing: 3px;

    box-sizing: border-box;
}

.title-hover {
    transition: all 0.4s ease-out;
}

.title-hover:hover, .title-hover:active {
    opacity: 0.1;
}

/* LINE BREAK */
hr {
    border-top: 2px solid black;
    border-radius: 3px
}

.rarity-title {
    font-family: "Trebuchet MS", Arial, serif;
    margin-left: 10px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 3px;
    text-after-overflow: center;
    position: absolute;

    background-color: rgba(255, 255, 255, 0.3);
    padding: 3px 5px;

    border-radius: 5px;
}

.rarity-button {
    font-size: 24px;
    font-weight: bold;
    border: transparent;
}

.common-color {
    color: #88acf0;
}

.copper-color {
    color: #f7ba9c;
}

.silver-color {
    color: #deebf7;
}

.gold-color {
    color: #ffdf73;
}

.purple-color {
    color: #d67dff;
}

.request-title {
    font-family: "Trebuchet MS", Arial, serif;
    color: azure;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 8px;
    margin-left: 10px;

    text-after-overflow: center;
    position: absolute;

    background-color: rgba(255, 255, 255, 0.3);
    padding: 3px 5px;

    border-radius: 5px;
}

textarea.result-text-area {
    padding: 5px 7px;
    width: 465px;
    height: 75px;
    resize: none;
    border: 1px solid black;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block;
}

p.footer {
    text-align: right;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: bold;
}

p.no-text-shadow-footer {
    text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 0 0 8px #FFFFFF !important;
}

img.footer {
    height: 24px;
    width: 24px;
    position: relative;
    top: 7px;
}

.text-overflow {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow-auto {
    white-space: normal;
    overflow: auto;
    text-overflow: ellipsis;
}

.request-info {
    margin-top: 50px;
}