/* BACKGROUND COLOR */
body {
    background-color: #e3cfcb;
}

div.div-background-title {
    background-image: url("./../images/webpage/still_108200401_blur_2.png");

    box-sizing: border-box;

    /* Full height */
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;

    overflow: hidden;
}

div.div-background-common {
    background-image: url("./../images/webpage/bg_500170_blur.png");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
}

div.div-background-copper {
    background-image: url("./../images/webpage/bg_500200_blur.png");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
}

div.div-background-silver {
    background-image: url("./../images/webpage/bg_500210_blur.png");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
}

div.div-background-gold {
    background-image: url("./../images/webpage/bg_500220_blur.png");
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
}

div.div-background-purple {
    background-image: url("./../images/webpage/bg_500240_blur.png");
    background-size: 100%, 100%;
    background-position: center 45%;
    background-repeat: no-repeat;
}

div.div-background-requested {
    background-image: url("./../images/webpage/bg_500030_blur.png");
    background-size: cover;
    background-position: center 45%;
    height: 100%;
    background-repeat: no-repeat;
}

/* WEB PAGE TITLE */
h1.title {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;

    box-sizing: border-box;
}
h2.title {
    color: aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    margin-top: -25px;
    letter-spacing: 3px;

    box-sizing: border-box;
}

/* LINE BREAK */
hr {
    border-top: 2px solid black;
    border-radius: 3px
}

.common-rarity-title {
    font-family: "Trebuchet MS", Arial, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #88acf0;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 3px;
}

.request-title {
    font-family: "Trebuchet MS", Arial, serif;
    color: azure;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
}

textarea.result-text-area {
    padding: 5px 7px;
    width: 465px;
    height: 75px;
    resize: none;
    border: 1px solid black;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block;
}

p.footer {
    text-align: right;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 2px 2px 4px #000000;
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: bold;
}

img.footer {
    height: 24px;
    width: 24px;
    position: relative;
    top: 7px;
}