/* GENERAL ========================================================================================================== */
.main_title {
    font-size: 6vw;
}

.sub_title {
    font-size: 5vw;
    letter-spacing: 1px;
    margin-top: -5vw !important;
}

.tip {
    font-size: 3vw;
}

p.footer {
    font-size: 3vw;
}

img.footer {
    height: 5vw;
    width: 5vw;
    position: relative;
    top: 1.5vw;
}

.category-title {
    font-size: 5vw;
}

img.item {
    /* IMAGE SIZE */
    max-width: 12vw;
    max-height: 12vw;
}

img.memory-piece {
    max-height: 8vw;
    max-width: 8vw;
    right: 14.5vw !important;
}

.memory-piece_drop-rate {
    font-size: 4vw !important;
    margin-left: -10px;
    left: -25px;
}

img.item-button-image {
    max-width: 12vw;
    max-height: 12vw;
}

button.item-button {
    /* DESIGN */
    max-width: 12vw;
    max-height: 12vw;
}


.required-ingredients_button_item-amount {
    left: -1px !important;
}

.requested-items_item-amount {
    position: relative;
    bottom: 2px;
}

.quest-title {
    font-size: 4vw !important;
    left: 1vw;
}

.grayscale {
    position: relative;
    bottom: 1px;
}

.quest-title_hard {
    /* TEXT (SHIFT TO LEFT) */
    padding-left: 2vw !important;
    padding-right: 15vw !important;
}

.quest-req-amount-text {
    bottom: 6px !important;
}

.quest-percent-text {
    position: relative;
    bottom: 2px;
    margin-bottom: -5px !important;
}

/* ITEMS TAB ======================================================================================================== */
.rarity-button {
    font-size: 5vw !important;
}

.item-table_category-title {
    font-size: 5vw !important;
}

#character-preset-list-select {
    width: 58vw;
}

.presets_unit-icon {
    height: 24vw !important;
    width: 24vw;
}

.presets_unit-info {
    font-size: 4vw;
}

.preset-item-button-padding {
    margin-left: 24% !important;
}

#preset-items-div {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -80px !important;
}

.preset-item-rank-button-text {
    font-size: 10px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

#preset-item-settings {
    margin-top: -35px !important;
}