/* Korean (lang=ko) */
@font-face {
    font-family: "NotoSerifKR";
    src: local("Noto Serif CJK"), local("Noto Serif CJK KR"), local("Noto Serif KR"), url("font/NotoSerifKR-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

.tip:lang(ko) {
    font-family: "Trebuchet MS", "NotoSerifKR", serif;
}

body.fancy-body:lang(ko) {
    font-family: "Trebuchet MS", "NotoSerifKR", serif;
}

h1.title:lang(ko) {
    font-family: "NanumGothic", "나눔고딕", "NotoSerifKR", serif;
}

h2.title:lang(ko) {
    font-family: "Trebuchet MS", "NotoSerifKR", serif;
    margin-top: -15px;
}

.category-title:lang(ko) {
    font-family: "Trebuchet MS", "NotoSerifKR", serif;
}

.rarity-title:lang(ko) {
    font-family: "NanumGothic", "나눔고딕", "NotoSerifKR", serif;
}

.request-title:lang(ko) {
    font-family: "NanumGothic", "나눔고딕", "NotoSerifKR", serif;
}

p.footer:lang(ko) {
    font-family: "Trebuchet MS", "NotoSerifKR", serif;
}

.hyperlink-text:lang(ko) {
    font-family: "Trebuchet MS", "NotoSerifKR", serif;
}

.priconne-font:lang(ko) {
    font-family: "NanumGothic", "나눔고딕", "NotoSerifKR", serif !important;
}

.nav-button-text:lang(ko) {
    bottom: 38px;
    font-weight: bold;
    font-family: "NanumGothic", "나눔고딕", "NotoSerifKR", serif;
}

/* Japanese (lang=ja) */
@font-face {
    font-family: "NotoSerifJP";
    src: local("Noto Serif CJK"), local("Noto Serif CJK JP"), local("Noto Serif JP"), url("font/NotoSerifJP-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

.tip:lang(ja) {
    font-family: "Trebuchet MS", "NotoSerifJP", serif;
}

body.fancy-body:lang(ja) {
    font-family: "Trebuchet MS", "NotoSerifJP", serif;
}

h2.title:lang(ja) {
    font-family: "Trebuchet MS", "NotoSerifJP", serif;
}

.category-title:lang(ja) {
    font-family: "Trebuchet MS", "NotoSerifJP", serif;
}

p.footer:lang(ja) {
    font-family: "Trebuchet MS", "NotoSerifJP", serif;
}

.hyperlink-text:lang(ja) {
    font-family: "Trebuchet MS", "NotoSerifJP", serif;
}