body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #e3cfcb;
}

hr {
    border-top: 2px solid black;
    border-radius: 3px
}

p.footer {
    text-align: right;
    text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000, 1px 1px 2px #000000;
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: bold;
}

i.footer {
    height: 24px;
    width: 24px;
    position: relative;
    top: 7px;
}

.heart-red {
    color: #ff4d4d
}

.title {
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.main_title {
    font-size: 26px;
}

.sub_title {
    margin-top: -20px;
    letter-spacing: 2px;
}

.simple_title {
    display: none;
    font-size: 4vw;
}

#back {
    position: fixed;
    top: 10px;
    left: 20px;
    font-weight: bold;
    font-size: 32px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 100px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

/* CHARACTER DATA =================================================================================================== */
#character-grid {
    text-align: center;
    margin: 40px auto;
}

#character-grid .unit-sprite {
    margin-right: 4px;
    cursor: pointer;
}

#character-data {
    text-align: center;
    margin: auto auto 30px;
}

#character-data .name {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

#character-data .name .name_en,
#character-data .name .name_jp {
    display: block;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 35px;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000, 1px 1px 2px #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    margin-top: 10px;
}

#character-data .name .name_jp {
    font-family: 'Noto Sans JP', sans-serif;
}

#character-data .name .name_en {
    margin-right: 4px;
}

#character-data img {
    width: 100px;
    margin-bottom: -23px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#character-data .rank span {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000, 1px 1px 2px #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 35px;
    border-radius: 10px;
    color: white;
}

.rank.rank-1 span {
    background-color: rgba(90, 190, 255, 0.5);
}

.rank.rank-2 span,
.rank.rank-3 span {
    background-color: rgba(255, 182, 140, 0.5);
}

.rank.rank-4 span,
.rank.rank-5 span,
.rank.rank-6 span {
    background-color: rgba(198, 211, 214, 0.5);
}

.rank.rank-7 span,
.rank.rank-8 span,
.rank.rank-9 span,
.rank.rank-10 span {
    background-color: rgba(249, 194, 62, 0.5);
}

.rank.rank-11 span,
.rank.rank-12 span,
.rank.rank-13 span,
.rank.rank-14 span,
.rank.rank-15 span,
.rank.rank-16 span {
    background-color: rgba(231, 109, 255, 0.5);
}

#character-data .rank div {
    display: inline-block;
}

#character-data .rank i {
    position: relative;
    top: 18px;
}

#character-data .rank i.disabled {
    opacity: 0.20;
}


@media (max-width: 600px) {
    .main_title,
    .sub_title {
        display: none;
    }

    .simple_title {
        display: block;
    }
}

@media (max-width: 510px) {
    #character-data .name {
        margin-right: 0;
    }
    #character-data .name .name_en,
    #character-data .name .name_jp {
        width: 40vw;
    }
    #character-data img {
        display: block;
        margin: 10px auto auto;
        width: 100px;
    }
    #character-data .rank span {
        margin-top: 30px;
    }
    #character-data .rank div {
        display: block;
        position: relative;
        bottom: 13px;
    }
}