/* QUEST DATA TABLE ================================================================================================= */
#equipment-type-select {
    /* CENTER TABLE */
    margin: 0 auto;
}

#recipe-data-div {
    /* POSITIONING */
    margin-top: 30px;
    margin-bottom: 10px;
}

#recipe-data-table {
    /* CENTER TABLE */
    margin: 0 auto;
}

.item-name {
    /* TEXT */
    font-family: "fot-udmarugo_large_prob", Arial, serif;
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000000,
        1px 1px 2px #000000,
        1px 1px 3px #000000;

    /* TEXT BOX DESIGN */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    border-radius: 5px;
    padding: 10px 30px;
}

.item-amount {
    /* POSITIONING */
    margin-top: -48%;
    margin-right: 8%;
    margin-bottom: 3px;
}