@charset "UTF-8";
/* FONT SETTINGS OVERRIDE */
body, select, option, input, button, .commit-hyperlink {
    font-family: 'Open Sans', 'Roboto', 'Segoe UI', 'San Francisco', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

span.amount, .version-item-amount, #version-arrow, div.top-three-item-text, p.footer {
    font-family: 'Trebuchet', 'Trebuchet MS', 'Roboto', 'Segoe UI', 'San Francisco', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

/* BEGIN BODY PART */

body {
    background-color: #e3cfcb;
}

hr {
    border-top: 2px solid black;
    border-radius: 3px
}

p.footer {
    text-align: right;
    text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000, 1px 1px 2px #000000;
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: bold;
}

i.footer {
    height: 24px;
    width: 24px;
    position: relative;
    top: 7px;
}

.heart-red {
    color: #ff4d4d
}

.title {
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.main_title {
    font-size: 26px;
}

.sub_title {
    margin-top: -20px;
    letter-spacing: 2px;
}

.simple_title {
    display: none;
    font-size: 4vw;
}

.category-header {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    font-size: 22px;
}

/* STATISTICS ======================================================================================================= */
#equipment-data,
#ingredient-data,
#ignore-settings,
#data-settings,
#equipment-history,
#fragment-history {
    margin: auto;
    text-align: center;
}

#ignore-settings {
    margin-bottom: 20px;
}

#data-type-select {
    margin-top: 20px;
    margin-bottom: 10px;
}

.top-three-spacing-1,
.top-three-spacing-2 {
    display: none;
}

#ignore-button-common,
#ignore-button-copper,
#ignore-button-silver,
#ignore-button-gold,
#ignore-button-purple,
#ignore-button-red,
#ignore-button-green,
#ignore-button-orange {
    border: none;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s ease-out;
}

#ignore-button-common.disabled,
#ignore-button-copper.disabled,
#ignore-button-silver.disabled,
#ignore-button-gold.disabled,
#ignore-button-purple.disabled,
#ignore-button-red.disabled,
#ignore-button-green.disabled,
#ignore-button-orange.disabled {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

div.top-three {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 30px 20px;
    margin: 0 10% 10px;
    border-radius: 10px;
}
div.first-place,
div.second-place,
div.third-place {
    display: inline-block;
    margin-left: 28px;
    margin-right: 28px;
}

div.first-place div.item-sprite,
div.second-place div.item-sprite,
div.third-place div.item-sprite {
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    transform: scale(calc(100/64));
}

div.first-place div.item-sprite {
    animation: gold-glow 5000ms infinite;
}

div.second-place div.item-sprite {
    animation: silver-glow 5000ms infinite;
}

div.third-place div.item-sprite {
    animation: brown-glow 5000ms infinite;
}

i.placement-image {
    min-width: 256px;
    height: 40px;
    display: block;
    transform: scale(calc(200/256));
    margin-right: -28px;
    margin-left: -28px;
}

.webp .first-place i.placement-image {background-image: url("images/1st_Place.webp");}
.no-webp .first-place i.placement-image {background-image: url("images/1st_Place.png");}
.webp .second-place i.placement-image {background-image: url("images/2nd_Place.webp");}
.no-webp .second-place i.placement-image {background-image: url("images/2nd_Place.png");}
.webp .third-place i.placement-image {background-image: url("images/3rd_Place.webp");}
.no-webp .third-place i.placement-image {background-image: url("images/3rd_Place.png");}

div.top-three-item-text,
span.amount {
    text-shadow: 1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000;
    text-align: right;
    font-weight: bold;
    color: white;
    position: relative;
}

div.top-three-item-text:before,
span.amount:before {
    content: '\00D7';
}

div.top-three-item-text {
    font-size: 24px;
    margin-right: 65px;
    margin-top: -27px;
}

span.amount {
    display: block;
    top: 30px;
    margin-right: 2px;
    font-size: 15px;
}

#stats {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000, 1px 1px 2px #000000;
    color: white;
}

#stats span {
    color: lawngreen;
}

.version-item-amount {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000;
}

#version-arrow {
    /* TEXT DESIGN */
    text-shadow: 1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000,
    1px 1px 4px #000000;
    color: white;
    font-weight: bold;

    position: relative;
    bottom: 12px;
}

.item-div {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 110px;
    height: 48px;
}

div.item-sprite {
    margin: 0 2px 1px;
}

.green-background {
    background-color: rgba(0, 255, 0, 0.5);
}

.red-background {
    background-color: rgba(255, 0, 0, 0.5);
}

.version-item-amount {
    position: relative;
    bottom: 35%;
    left: 10%;
    margin-top: 30px;
    font-weight: bold;
    text-overflow: ellipsis;
}

.commit-hyperlink {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 1100px) {
    .top-three-spacing-2 {
        display: block;
    }
    div.third-place {
        margin-top: 30px;
    }
    #all-equipment br, #all-ingredients br {
        display: none;
    }
}
@media (max-width: 800px) {
    .top-three-spacing-1 {
        display: block;
    }
    div.first-place {
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .main_title,
    .sub_title {
        display: none;
    }

    .simple_title {
        display: block;
    }
    #stats {
        font-size: 3vw;
    }
    div.top-three {
        margin: 0 0 10px;
    }
}

@keyframes gold-glow {
    0% { box-shadow: 0 0 0 #f7d77b; }
    40% { box-shadow: 0 0 5px #f7d77b; }
    60% { box-shadow: 0 0 5px #f7d77b; }
    100% { box-shadow: 0 0 0 #f7d77b; }
}

@keyframes silver-glow {
    0% { box-shadow: 0 0 0 #aab8d8; }
    40% { box-shadow: 0 0 5px #aab8d8; }
    60% { box-shadow: 0 0 5px #aab8d8; }
    100% { box-shadow: 0 0 0 #aab8d8; }
}

@keyframes brown-glow {
    0% { box-shadow: 0 0 0 #bd8663; }
    40% { box-shadow: 0 0 5px #bd8663; }
    60% { box-shadow: 0 0 5px #bd8663; }
    100% { box-shadow: 0 0 0 #bd8663; }
}