@font-face {
    font-family: 'fot-udmarugo_large_prob';
    src: url('../../css/font/FOT-UDMarugo_LargePro-B.otf');
    font-weight: normal;
    font-style: normal;
}

/* WEBPAGE DESIGN =================================================================================================== */
body {
    background-color: #e3cfcb;
}

hr {
    border-top: 2px solid black;
    border-radius: 3px
}

p.footer {
    text-align: right;
    font-family: "Trebuchet MS", Arial, serif;
    text-shadow: 1px 1px 2px #000000, 1px 1px 2px #000000, 1px 1px 2px #000000;
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: bold;
}

img.footer {
    height: 24px;
    width: 24px;
    position: relative;
    top: 7px;
}

.use-webp {
    /*
        AN ELEMENT WITH THIS CLASS CAN SWITCH BETWEEN .PNG AND .WEBP DEPENDING ON BROWSER COMPATIBILITY.
        LOOK AT scripts/image-manager.js#init_images FOR MORE INFORMATION.
    */
}

.red-color {
    color: #ff4d4d
}

/* TITLE ============================================================================================================ */
.title {
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    box-sizing: border-box;
}

.main_title {
    font-size: 24px;
    font-family: "fot-udmarugo_large_prob", Arial, serif;
}

.sub_title {
    margin-top: -25px;
    letter-spacing: 3px;
    font-family: "Trebuchet MS", Arial, serif;
}

/* QUEST DATA TABLE ================================================================================================= */
#quest-data-div {
    /* POSITIONING */
    margin-top: 30px;
    margin-bottom: 10px;
}

#quest-data-table {
    /* CENTER TABLE */
    margin: 0 auto;
}

.quest-title {
    /* TEXT */
    font-family: "fot-udmarugo_large_prob", Arial, serif;
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000000,
        1px 1px 2px #000000,
        1px 1px 3px #000000;

    /* TEXT BOX DESIGN */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    border-radius: 5px;
    padding: 10px 30px;

    /* POSITIONING */
    position: relative;
    top: 2px;
}

.quest-title-hard {
    /* TEXT (SHIFT TO LEFT) */
    padding-left: 20px;
    padding-right: 65px;
}

img.item {
    /* IMAGE SIZE */
    max-width: 48px;
    max-height: 48px;

    /* IMAGE DESIGN */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

img.divider {
    opacity: 0 !important;
    margin-left: 12px;
}

img.memory-piece {
    /* IMAGE SIZE */
    max-height: 32px;
    max-width: 32px;

    /* POSITIONING */
    position: relative;
    right: 62px;
    top: 13px;
    margin-right: -32px;
}

.drop-rate {
    /* TEXT */
    font-family: "Calibri", Arial, serif;
    text-shadow: 1px 1px 4px #000000,
        1px 1px 4px #000000,
        1px 1px 4px #000000,
        1px 1px 4px #000000;
    color: lightsalmon;
    text-align: right;
}

.memory-piece_drop-rate {
    /* POSITIONING */
    position: relative;
    font-size: 14px;
    right: 56px;
    bottom: 4px;
    margin-right: -32px;
}

.item_drop-rate {
    /* POSITIONING */
    margin-top: -48%;
    margin-right: 8%;
    margin-bottom: -10%;
}